.status_panel {
  text-align: center;
  width: 12rem;
  border: var(--border);
  border-radius: 1rem;
  transition: background 0.2s;
  box-shadow: var(--shadow-external);
  font-size: 2em;
  padding: 0 1em;
  position: relative;
  top: -0.5em;
}

.status_draw {
  background-color: var(--color-board)
}

.status_default {
  background-color: var(--color-text)
}