
.modal-title {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

.modal-body h3 {
  font-size: 1.5em;
  color: var(--color-primary);
  margin-bottom: 0.5em;
}


.modal-body {
  font-size: 1em;
  line-height: 1.5em;
}

.modal-body ol {
  list-style: decimal;
  padding-left: 1em;
  margin-bottom: 50px;
}

.modal-footer {
  position: absolute;
  left: calc(50% - 40px);
  bottom: -8%;
}

@media (max-width: 425px) {
  .modal {
    font-size: 0.8em;
  }
}
