.game-field-header {
  margin-bottom: 1em;
}
.header-content {
  width: 30vw;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
}

.header-content h1 {
  line-height: 0;
  min-width: 4em;
  text-align: center;
}

.header-button {
  width: 6em;
  cursor: pointer;
  border: var(--border);
  border-radius: 2em;
  padding: 10px 10px;
  text-align: center;
  box-shadow: var(--shadow-external);
  background: var(--color-secondary);
  font-size: 1.2em;
  transition: background 0.3s;
}

.header-button:hover {
  background: var(--color-board);
}
