.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  min-height: 100vh;
  padding: 0;
}
.start-menu
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  list-style: none;
  padding: 0;
}

.start-menu h1 {
  font-family: 'Tochka-Script', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.start-menu h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
