.game-board {
  display: grid;
  grid-template-rows: repeat(6, 1fr); /* 6 строк */
  grid-template-columns: repeat(7, 1fr); /* 7 колонок */
  width: 30vw;
  min-width: 300px;
  aspect-ratio: 7 / 6;
  background-color: var(--color-board);
  border: var(--border);
  border-radius: var(--big-border-radius);
  box-shadow: var(--shadow-external);
  padding: 1rem;
  gap: 0.5rem;
  grid-area: board;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary);
  border: var(--border);
  border-radius: 50%;
  box-shadow: var(--shadow-inner);
  cursor: pointer;
  overflow: hidden;
}

.chip {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: var(--light-shadow-inner);

  max-width: 100%;
  max-height: 100%;

  will-change: transform;
}

.chip-winning {
  animation: 0.5s linear infinite alternate chip-winning-pulse;
}

@keyframes chip-winning-pulse {
  to {
    transform: scale(0.8);
    background-color: var(--color-secondary);
  }
}
