.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-box--player-1 {
  justify-self: end;
  grid-area: score1;
}

.score-box--player-2 {
  justify-self: start;
  grid-area: score2;
}

.score-info {
  max-width: 5em;
  background-color: var(--color-board);
  text-align: center;
  border: var(--border);
  border-radius: 1rem;
  transition: 0.2s;
  box-shadow: var(--shadow-external);
  font-size: 1.5rem;
  padding: 0.5em 0.5em;
}

.player-avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  top: 10px;
  border: var(--border)
}

/* Мобильная версия */
@media (max-width: 768px) {
  .score-box {
    width: 100%;
  }

  .score_box-player_1,
  .score_box-player_2 {
    width: 90%;
  }
}
