.board-menu {
  margin-bottom: 1em;
  width: 50%;
}
.board-menu-content {
  width: 100%;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
}

.board-menu-content h1 {
  line-height: 0;
  min-width: 4em;
  text-align: center;
}

