@font-face {
  font-family: 'Underdog';
  src: url('../../assets/fonts/Underdog-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Tochka-Script';
  src: url('../../assets/fonts/Tochka-Script.woff2') format('woff2');
  font-display: swap;

}

body {
  background-color: var(--color-primary);
  font-family: 'Underdog', sans-serif;
  color: var(--color-text);
  overflow: hidden;
}
#root {
    min-height: 100vh;
    position: relative;
}