.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(220px, 60%, 400px);
  padding: 2.5em 2em;
  background-color: var(--color-board);
  border-radius: var(--big-border-radius);
  border: var(--border);
  box-shadow: var(--shadow-external);
  z-index: 1;
  max-height: 90vh;
  overflow-y: auto;
}
.modal h1,
h2,
h3 {
  margin: 0;
}

@media (max-width: 425px) {
  .modal {
    font-size: 0.8em;
    padding: 2em 1.5em;
    width: 90%;
  }
}
