.board-menu {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.board-menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  padding: 0 1rem;
}

.board-menu-content h1 {
  font-family: 'Tochka-Script', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 0;
  min-width: 4em;
  text-align: center;
}

@media (max-width: 425px) {
  .board-menu {
    font-size: 0.7em;
  }

  .board-menu-content {
    padding: 0 1rem;
  }
}
