.status-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2em;

  height: 3em;
  border: var(--border);
  border-radius: 1rem;
  transition: background 0.2s;
  box-shadow: var(--shadow-external);
  font-size: 2em;
  padding: 0.2em 1em;
  position: relative;
  top: -0.5em;
}

.status-panel p {
  margin: 0;
}

.status-draw {
  background-color: var(--color-board);
}

.status-default {
  background-color: var(--color-board);
}

.play-again {
  background-color: var(--color-primary);
  cursor: pointer;
  border: none;
  border-radius: 2em;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.5em;
  transition: background 0.3s;
  color: var(--color-board);
}

.play-again:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

/* Мобильная версия */
@media (max-width: 768px) {
  .status-panel {
    font-size: 1.5em;
  }
}
